@charset "utf-8";
/* CSS Document */

table.app-sum{
	color: #858585;
	font-family: neuzit-book;
}
.appointment-cost{
	text-align: right;
}
/*
.total-wrap{
	border-top: 1px solid #cccccc !important;
}
*/
.border-btm{
	border-bottom: 1px solid #cccccc !important;
}