@charset "utf-8";
/* CSS Document */

.btn{
	letter-spacing: .5px;
	font-size: 16px;
	padding: 7px 14px;
	border: 0;
}
.btn-big{
	padding: 14px 30px;
}
.btn-success{
	background-color: #91C71A;
}
.text-success{
	color: #91C71A !important;
}
.btn-outline-success{
	border: 1px solid #91C71A;
	color: #91C71A;
}
.btn-outline-secondary{
	border: 1px solid #cccccc;
}
.form-control {
    height: 50px;
}