@charset "utf-8";
/* CSS Document */

.rate-SP ul li{
	background: url(../img/Icon%20feather-star.svg);
	width: 48.91px;
	height: 46.52px;
	display: inline-block;
	margin-right: 10px;
}
.rate-SP ul li:last-child{
	margin-right: 0;
}