@charset "utf-8";
/* CSS Document */

.noti-wrap{
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 90px;
}
.noti-set{
	text-align: right;
}

@media (max-width: 575px){
	.noti-set{
		text-align: left;
	}
}