@charset "utf-8";
/* CSS Document */

#search {
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100vh;
	width: 100vw;
}
#search .btn, #search .form-control{
	height: 65px;
	font-size: 20px;
}
#search .col-md-5, #search .col-md-2{
	padding-left: 10px;
	padding-right: 10px;
}
#search .row {
    margin-right: -10px;
    margin-left: -10px;
}
.text-search{
	font-size: 100px;
	letter-spacing: 0.2;
	font-family: visby-bold;
	color: #515151;
	line-height: 110px;
	margin-bottom: 100px;
}
.search-wrap{
	height: calc(100vh - 90px);
}
.close {
    font-size: 2.5rem;
}
h2{
	font-size: 28px !important;
	letter-spacing: 0.5px !important;
}
.sp-info-list{
	padding-bottom: 70px;
}
.page-title-section{
	padding-top: 30px;
	padding-bottom: 30px;
}
.page-title{
	line-height: 28px
}
.sp-list-info{
	position: relative;
}
.filter-sp-panel{
	position: fixed;
	height: 100vh;
	width: 400px;
	padding: 40px;
	top: 0;
	background-color: white;
	z-index: 5;
	box-shadow: 2px 0px 20px 5px rgba(0,0,0,0.1);
	left: -430px;
	transition: left 0.5s ease-in-out;
}
.show-slide{
	left: 0;
}
.filter-sp-panel .form-control{
	height: 50px;
}
.filter-sp-wrap{
	position: relative;
}
.filter-close{
	position: absolute;
	right: 0;
	top: 0;
}
.filter-SP{
	background: url(../img/filter.png) no-repeat center left;
	padding-left: 30px;
}
.filter-SP, .filter-close{
	cursor: pointer;
}
.sp-card-info{
	position: relative;
}
.sp-status{
	position: absolute;
	top: 0;
	right: 0;
}
.sp-fav{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.sp-info-wrap:hover .sp-fav{
	opacity: 1;
}
.sp-img{
	border: 6px solid #ffffff;
	box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.06);
}
.book-sp-wrap li{
	width: 50%;
	margin-top: 40px;
}
.book-sp-wrap li:last-child{
	margin-left: -1px;
}
.book-sp-wrap li a{
	font-size: 14px;
	width: 100%;
	border-radius: 0;
	height: 40px;
	line-height: 40px;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	opacity: 0.8;
}

.app-setup-summary{
	padding-top: 30px;
	margin-top: 40px;
	border-top: 1px solid #ccc;
	padding-bottom: 30px;
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
}
.oneoff-app-setup-summary{
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid #ccc;
}

/***** BOOKME MODAL BEGINS *****/

.modal-header .close {
    padding: 1.1rem 1rem;
}
.modal-header {
	background-color: #f9f9f9;
	padding: 20px 30px;
}
.modal-body {
    padding: 30px;
}
.modal-title .sp-name{
	background: url(../img/sp-status.png) center right no-repeat;
	padding-right: 38px;
	height: 26px;
}
.time-slots ul{
	overflow: auto;
	white-space: nowrap;
  -ms-overflow-style: none;
}
.time-slots ul::-webkit-scrollbar {
  display: none;
}
.time-slots ul li{
	display: inline-block;
	padding-right: 4px;
}
.time-slots ul li:last-child{
	padding-right: 0;
}
.time-slots ul li button{
	cursor: pointer;
}
.service-selected button.close{
	padding: 0;
	font-size: 25px;
}
.service-selected ul li{
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #cccccc;
}
.msg-label{
	cursor: pointer;
}
.msg-sp{
	height: 0 !important;
	opacity: 0;
	transform: all 0.5s ease-in-out;
}
.msg-sp-height{
	height: 110px !important;
	opacity: 1;
}
.phase-two .service-selected button{
	width: 67px;
}
.phase-two .service-selected ul li:last-child{
	border-bottom: none;
}


/***** BOOKME MODAL ENDS *****/

@media (max-width: 1300px){
	.text-search{
		font-size: 90px;
		line-height: 100px;
		margin-bottom: 90px;
	}
}
@media (max-width: 1024px){
	.text-search{
		font-size: 80px;
		line-height: 90px;
		margin-bottom: 80px;
	}
	#search .btn, #search .form-control{
		height: 60px;
		font-size: 18px;
	}
}
@media (max-width: 992px){
	.text-search{
		font-size: 70px;
		line-height: 80px;
		margin-bottom: 70px;
	}
}
@media (max-width: 767px){
	.text-search{
		font-size: 60px;
		line-height: 60px;
		margin-bottom: 60px;
	}
	#search .btn, #search .form-control{
		height: 50px;
		font-size: 16px;
	}
	.navbar .show {
		/* background-color: white; */
		position: absolute;
		top: 70px;
		/* z-index: 1; */
		right: 15px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 16px;
	}
}
@media (max-width: 600px){
	.text-search{
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 50px;
	}
}
@media (max-width: 500px){
	.filter-sp-panel{
		width: 330px;
		left: -350px;
		padding: 20px;
	}
	.show-slide{
		left: 0;
	}	
}
@media (max-width: 400px){
	.filter-sp-panel{
		width: 300px;
		left: -330px;
	}
	.show-slide{
		left: 0;
	}	
}