@charset "utf-8";
/* CSS Document */

.card-alt{
	border: none;
	border-radius: 0;
	background-color: white;
}
.provider-profile{
	padding-top: 20px;
	padding-bottom: 90px;
}
.sp-stat{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #cccccc;
}
.sp-profile-status{
	background: url(../img/sp-profile-status.png) center right no-repeat;
	height: 42px;
	line-height: 42px;
}
.provider-profile .rating{
	font-size: 14px;
}
.provider-profile .sp-service li{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}
.provider-profile .sp-service li:last-child{
	border-bottom: none;
}
.provider-profile .nav-tabs {
    border-bottom: none;
	background-color: white;
}
.provider-profile .nav-tabs li {
	padding-top: 5px;
	padding-bottom: 5px;
}
.provider-profile .nav-tabs li:last-child a {
	border-right: none;
}
.provider-profile .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-right: 1px solid #e1e1e1;
	color: #313131;
}
.provider-profile .nav-tabs .nav-item.show .nav-link, .provider-profile .nav-tabs .nav-link.active {
    color: #91C71A;
    border-color: #e1e1e1;
}
.provider-profile .sp-profile{
	padding: 60px;
}

.time-slots ul{
	overflow: auto;
	white-space: nowrap;
  -ms-overflow-style: none;
}
.time-slots ul::-webkit-scrollbar {
  display: none;
}
.time-slots ul li{
	display: inline-block;
	padding-right: 4px;
}
.time-slots ul li:last-child{
	padding-right: 0;
}
.time-slots ul li button{
	cursor: pointer;
}
.service-selected button.close{
	padding: 0;
	font-size: 25px;
}
.service-selected ul li{
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #cccccc;
}
.modal-backdrop {
    background-color: #2460D8;
}

/*** NEW STYLES BEGINS ***/

.services-mob{
	display: none;
}

@media (max-width: 1200px){
	.provider-profile .sp-profile {
		padding: 40px;
	}
}
@media (max-width: 992px){
	.provider-profile .sp-profile {
		padding: 30px;
	}
}
@media (max-width: 767px){
	.sp-deets-wrap{
		text-align: center;
	}
	.sp-img-wrap{
		height: 180px;
		width: 180px;
		display: inline-block;
		border-radius: 300px;
	}
	.sp-img-wrap img{
		border-radius: 300px;
	}
	.provider-profile .sp-profile {
		padding: 20px;
	}
	.service-desktop{
		display: none;
	}
	.sp-stat {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	.sp-stat .sp-name {
		font-size: 24px;
	}
	.sp-profile-status {
		background: url(../img/sp-profile-status.png) center right no-repeat;
		display: none;
	}
	.services-mob{
		display: inline-block;
		font-size: 14px;
	}
	.services-mob li{
		display: inline-block;
		padding: 6px 6px 0 6px;
	}
}
@media (max-width: 550px){
	.sp-img-wrap{
		height: 120px;
		width: 120px;
	}
}
@media (max-width: 430px){
	.provider-profile .nav-tabs {
		white-space: nowrap;
		overflow: scroll;
		display: block;
	}
	.provider-profile .nav-tabs li {
		display: inline-block;
	}
	.provider-profile .nav-tabs .nav-link {
		padding-left: 22px;
		padding-right: 22px;
	}
	.provider-profile ul.nav-tabs::-webkit-scrollbar {
	  display: none;
	}
	.provider-profile #contact .font-20{
		font-size: 18px;
		line-height: 20px;
		margin-top: 6px;
	}
}
@media (max-width: 375px){
	.sp-stat .sp-name {
		font-size: 22px;
	}
	.provider-profile h2 {
		font-size: 25px;
	}
}
/*** NEW STYLES ENDS ***/

