@charset "utf-8";
/* CSS Document */

.story #pills-tab{
	padding-top: 75px;
}
.story #pills-tab li{
	display: block;
	width: 100%;
}
.story-tabcontent-wrap{
	padding-right: 0;
}
.story-textcontent-wrap{
	padding-left: 0;
	margin-left: -1px;
}
.story .nav-pills .nav-link {
    border-radius: 0;
	height: 70px;
	line-height: 70px;
	padding-top: 0;
	padding-left: 20px;
	color: #515151;
	border: 1px solid #e1e1e1;
	border-collapse: collapse;
	margin-bottom: -1px;
}
.story .nav-pills .nav-link.active, .story .nav-pills .show>.nav-link {
    color: #91C71A;
    background-color: transparent;
	border-right: 0;
	position: relative;
}
.story .nav-pills .nav-link.active::after{
	content: "";
	position: absolute;
	height: 20px;
	width: 40px;
	background-color: white;
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	border-top-right-radius: 50px;
	right: 0;
	z-index: 2;
	bottom: -20px;
}
.story .nav-pills .nav-link.active::before{
	content: "";
	position: absolute;
	height: 20px;
	width: 40px;
	background-color: white;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-bottom-right-radius: 50px;
	right: 0;
	z-index: 2;
	top: -20px;
}
.story .nav-pills .nav-link.active .tab-element{
	position: absolute;
	height: 110px;
	width: 40px;
	background-color: white;
	right: 0;
	z-index: 1;
	top: -20px;
}
.story-textcontent{
	padding-top: 50px;
	padding-bottom: 70px;
	padding-left: 55px;
	border-left: 1px solid #e1e1e1;
}
.mb-35{
	margin-bottom: 35px;
}
.story .accordion>.card {
    overflow: hidden;
    border: 0;
}
.story .card-header {
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}
/*
.story .card-header button[aria-expanded="true"] {
	color: #242424;
}
*/
.story .card-header .btn {
    position: relative;
    padding-left: 0;
    color: #515151;
    letter-spacing: 1px;
    font-size: 14px;
}
.story .card-header .btn:before {
    font-family: Font Awesome\ 5 Free;
    font-weight:900;
    content:"\f07c";
	position: absolute;
	right: 0;
}
.story .card-header .btn.collapsed:before {
    content:"\f07b";
}
.story .card-header .btn:hover, 
.story .card-header .btn:active, 
.story .card-header .btn:focus  {
    text-decoration:none;
}
.story .card-body {
	padding: 0 0 20px 0;
}
.story #collapseEight ol{
	padding-left: 0;
	margin-left: 45px;
}
.story #collapseEight ol li{
	margin-bottom: 15px;
}

.condition-of-use ol{
	padding-left: 0;
	margin-left: 45px;
}
.condition-of-use ol li{
	margin-bottom: 15px;
}
.story .sub-header{
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #242424;
}
.abbr-mobile{
	display: none;
}
@media(max-width: 1179px){
	.story .abbr{
		display: none;
	}
}
@media(max-width: 850px){
	.abbr-mobile{
		display: inline-block;
	}
	.abbr-desktop{
		display: none;
	}
}
@media (max-width: 767px){
	.story-tabcontent-wrap, .story-textcontent-wrap{
		flex: 0 0 100%;
    	max-width: 100%;
	}
	.story-tabcontent-wrap{
		padding-right: 10px;
	}
	.story-textcontent-wrap{
		padding-left: 10px;
		margin-left: 0;
	}
	.story .nav-pills .nav-link.active .tab-element{
		display: none;
	}
	.story .nav-pills .nav-link.active::after{
		display: none;
	}
	.story .nav-pills .nav-link.active::before{
		display: none;
	}
	.story .nav-pills .nav-link.active {
		border: 1px solid #91C71A;
	}
	.story .nav-pills .nav-link {
		text-align: center;
	}
	.story #pills-tab li{
		display: inline-block;
		width: auto;
	}
	.story-textcontent {
		padding-left: 0;
		border-left: none;
	}
	.story #pills-tab {
		padding-top: 20px;
		overflow: auto;
		display: block;
		white-space: nowrap;
	}
	.story #pills-tab::-webkit-scrollbar {
	  display: none;
	}
	.story .nav-pills .nav-link {
		height: 50px;
		line-height: 50px;
		margin-bottom: 0;
	}
}




